$primary-color-light: #ee7575;
$font-color-light: #212529;
$border-color-light: #f3eeee20;
$box-shadow-light: #0000000a;

/* Dark mode colors*/
$primary-color-dark: #3aafe1;
$font-color-dark: #d9d9d9;
$border-color-dark: #fffefe20;
$box-shadow-dark: #efefef0a;

/* Responsive breakpoints */
$xl: 87.5em; // 4k and hi-res desktop
$lg: 60em; // 1080 and hi-res laptops
$md: 40em; // hi-res tablets and low-res laptops
$sm: 28em; // mobile and low-res tablets
$xs: 20em; // mobile only

@mixin responsive($query) {
  @media (max-width: $query) {
    @content;
  }
}
