@import "./config.scss";

.container {
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main {
  padding: 2rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1300px;
}

.title {
  margin: 0;
  font-size: 3.5rem;
  text-align: center;
  @include responsive($md) {
    font-size: 2.5rem;
  }
}

.subtitle {
  margin: 0;
  font-size: 2.75rem;
  margin-bottom: 2rem;
  @include responsive($md) {
    font-size: 1.75rem;
    margin-bottom: 1rem;
  }
}

.about {
  text-align: center;
  line-height: 2;
  font-size: 1.25rem;
  margin: 1rem;
  max-width: 790px;
  @include responsive($md) {
    font-size: 1rem;
    line-height: 1.5;
    margin: 1rem 1rem;
  }
}

.img {
  display: inline;
  padding: 1rem !important;
  border-radius: 50%;
  filter: drop-shadow(0 0 5px rgba(0, 0, 0, 0.5));
}

.footer {
  width: 100%;
  padding: 1rem;
  border-top: 1px solid #eaeaea;
  display: flex;
  flex-direction: column;
  align-items: center;

  p {
    margin: 0;
    padding: 0;
    font-size: 14px;
    text-align: center;
  }
}
