@import "./config.scss";

.container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.title {
  margin: 1rem;
  padding: 0;
}

.intro {
  max-width: 750px;
  margin: 0 0 2rem 0;
  @include responsive($lg) {
    max-width: 600px;
    margin: 0 2rem;
  }
}
